<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Manual Bet</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .hidden {
      display: none;
    }

    .bet-display {
      display: grid;
      /* grid-template-columns: repeat(4, 1fr); */
      grid-template-columns: 1fr 1fr 1fr 75px;
    }

    .bet-display div, .sel-display div {
      display: flex;
      align-items: center;
    }

    .sel-display {
      display: grid;
      /* grid-template-columns: repeat(6, 1fr); */
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 75px;
    }

    .bet-display, .sel-display {
      grid-gap: 1rem;
    }

    .slip-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }

    .active, .divider {
      border: none;
    }

    .active {
      border-bottom: 1px solid #007bff !important;
    }

    .divider {
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
  </style>
</head>
<body class="p-4">
    <div class="container-fluid mb-1">
      <div class="row">
        <div class="col-6">
          <div class="bet-selection">
            <div class="row">
              <div class="col-12 pb-1">
                <input type="text" id="stake" placeholder="Ex. 0.50">
                <select type="text" id="bet-type">
                </select>
                <select id="outcome">
                  <option value="W">Win</option>
                  <option value="EW">Each-way</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-12 pb-1">
                <button class="badge badge-pill badge-primary btn quick-price">0.25</button>
                <button class="badge badge-pill badge-primary btn quick-price">0.50</button>
                <button class="badge badge-pill badge-primary btn quick-price">1.00</button>
                <button class="badge badge-pill badge-primary btn quick-price">2.00</button>
                <button class="badge badge-pill badge-primary btn quick-price">5.00</button>
                <button class="badge badge-pill badge-primary btn quick-price">10.00</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 pb-1">
                <button class="btn btn-primary" id="add-bet">
                  Add Bet
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="horse-selection">
            <select name="meetings" id="meetings">
              <% for(let item of data) { %>
                <% const parsed = JSON.parse(item.json); %>
                <% const title = Object.keys(parsed)[0] %>
                <% const titleValue = title.split(' ').join('-');%>
                <option value="<%=titleValue%>"><%=title%></option>
                <% for(let i = 0; i < parsed[title].length; i++) { %>
                  <% const currentMeeting = parsed[title][i] %>
                  <% const time = currentMeeting.time %>
                  <% const contestants = currentMeeting.contestants; %>
                <% } %>
              <% } %>
            </select>
            <select name="times" id="times">
              <% for(let item of data) { %>
                <% const parsed = JSON.parse(item.json); %>
                <% const title = Object.keys(parsed)[0] %>
                <% const titleClass = title.split(' ').join('-');%>
                <% for(let i = 0; i < parsed[title].length; i++) { %>
                  <% const currentMeeting = parsed[title][i] %>
                  <% const time = currentMeeting.time %>
                  <option class="<%=titleClass%>" value="<%=time%>"><%=time%></option>
                <% } %>
              <% } %>
            </select>
            <select name="contestants" id="contestants">
              <% for(let item of data) { %>
                <% const parsed = JSON.parse(item.json); %>
                <% const title = Object.keys(parsed)[0] %>
                <% const titleClass = title.split(' ').join('-');%>
                <% for(let i = 0; i < parsed[title].length; i++) { %>
                  <% const currentMeeting = parsed[title][i] %>
                  <% const time = currentMeeting.time %>
                  <% const contestants = currentMeeting.contestants; %>
                  <% for (let contestant of contestants) { %>
                    <% const horseString = `${contestant.number} ${contestant.name}` %>
                    <% titleAndTimeClass = `${titleClass} ${time}`%>
                    <option class="<%=titleAndTimeClass%>" value="<%=horseString%>"><%=horseString%></option>
                  <% }%>
                <% } %>
              <% } %>
              <option class="constant" value="1st Unnamed Favorite">1st Unnamed Favorite</option>
              <option class="constant" value="2nd Unnamed Favorite">2nd Unnamed Favorite</option>
            </select>
            <input type="text" id="odds" placeholder="Odds: Ex. 11/4">
            <div>
              <input type="checkbox" id="sp" name="sp" value="SP">
              <label for="sp">SP</label>
            </div>
            <button class="btn btn-primary" id="add-selection">Add Selection</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid slip-container">
      <div class="bet-display bet-header">
        <div>Stake</div>
        <div>Bet Type</div>
        <div>Outcome</div>
        <div></div>
      </div>
      <div class="sel-display sel-header">
        <div>#</div>
        <div>Horse</div>
        <div>Time</div>
        <div>Meeting</div>
        <div>Odds</div>
        <div></div>
      </div>
    </div>
    <hr>
    <div id="bets">
      <div class="container-fluid slip-container">
        <div class="bet-body bet-display">
        </div>
        <div class="slip-body sel-display">
        </div>
      </div>
    </div>
    <div class="container-fluid mb-1">
      <button class="btn btn-primary" id="next-bet-btn">Next</button>
    </div>
    <div class="container-fluid mb-1">
      <div class="row justify-content-between">
        <div class="col-4 d-flex align-items-center">
          <label for="total-stake" class="mb-0">Total Stake: </label>
          <input type="text" class="d-inline-block ml-1" id="total-stake" placeholder="0.00">
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary w-100" id="generate">Generate Manual Bet</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary w-100" id="copy">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <textarea id="slip" class="d-block w-100"></textarea>
    </div>
    <p id="slip-length" class="text-center m-0 mt-2"></p>
    <script src="/scripts/selectControl.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>